.product-card-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}
.product-main-container {
  min-height: 150vh;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
